 <div class="signature">
            <div class="info">
                <div class="name">MenyaLo</div>
                <div class="title">Brand & Communications Manager</div>
                <div><a href="#">Read our Impact Snapshot</a></div>
                <div class="social">
                    <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" title="X"><i class="fab fa-x-twitter"></i></a>
                    <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <img src="/public/images/logo.png" alt="MenyaLo Logo" class="logo">
        </div>
        <div class="footer">© 2025 MenyaLo. All rights reserved.</div>
    </div>
</body>
</html>