<%- include('../includes/header') %>
<!-- Existing User -->
<div class="email-container">
  <h1>Welcome Back!</h1>
  <p>
    Thank you for continuing your journey with MenyaLo. We're glad to have you as part of our
    growing community. Expect more valuable updates and insights coming your way.
  </p>
  <a href="LINK" class="button">View new update</a>

  <%- include('../includes/footer') %>
</div>
