<%- include('../includes/header') %>
<!-- Subscribe -->
<div class="email-container">
  <h1>Welcome Aboard 🎉</h1>
  <p>
    Thank you for subscribing to MenyaLo! You'll now receive updates, insights, and helpful
    resources directly to your inbox.
  </p>
  <a href="YOUR_DASHBOARD_LINK" class="button">Visit Dashboard</a>

  <%- include('../includes/footer') %>
</div>
