 <%- include('includes/header') %> 
 <!-- Unsubscribe -->
    <div class="email-container">
        <h1>We're Sorry to See You Go</h1>
        <p>You've successfully unsubscribed from MenyaLo emails. You can rejoin anytime.</p>
        <a href="YOUR_SUBSCRIBE_LINK" class="button">Resubscribe</a>

 <%- include('includes/footer') %>